
body{
	background-color: #eeeeec;
}

h3 {
    padding-top: 70px;
    padding-bottom: 40px;   
}

h4 {
	padding-bottom: 40px;
}
  
.box{
    float: left;
    height:150px; 
}

.item{
	
	width: inherit;
}

.editbutton{
	float:right;
	margin-top:40px;
	
}

.addbutton{
	
}

.itemtext{
	
}

.itemname{
	padding-bottom: 10px;
	
}

.itemdesc{
	
}

.itemimage{
	margin-right: 80px;
}

